<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotPasswordForm" >
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Reset Your Password!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input (change)="checkEmail()" formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="New Password" formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button shape="round" size="large" (click)="resetPassword()" color="primary" type="submit" expand="block">Reset Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
