<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="changePasswordForm" >
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Change your password!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input formControlName="oldPassword" type="text" placeholder="Old Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Password" formControlName="newPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input (keyup)="removePasswordMatchError()" (focusout)="matchPasswords()" placeholder="Repeat Password" formControlName="repeatPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <div *ngIf="passwordMatch">
              <span class="text-danger">Password and confirm password should match.</span>
            </div>
          </div>
          <div class="ion-padding">
            <ion-button [disabled]="changePasswordForm.invalid" (click)="changePassword()" color="primary" type="submit" expand="block">Change Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
