.passwordIcon{
  font-size:2rem !important;
  position: relative !important;
  top: 0px !important;
  margin: 0 auto !important;
}
.register-icon{
  width: 35px;
  height: 35px;
  padding-right: 5px;
}
.forgot-password{
  padding-left: 30px;
  //color: darkred;
  //text-underline: #007069;
}
