<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
    <ion-icon routerLink="/addUser" size="large" slot="end" style="padding-right: 7%" name="add"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="donners">
        <h4>Donners</h4>
      </ion-tab-button>
      <ion-tab-button tab="charity-houses">
        <h4>Charity Houses</h4>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
